{{#if user}}
<h2>Bienvenido {{user.first_name}} a la pagina de productos</h2>
<p id="userCart" data-id="{{user.cart._id}}">Tus datos son</p>
<ul>
	<li>Nombre: {{user.first_name}}</li>
	<li>Apellido: {{user.last_name}}</li>
	<li>Email: {{user.email}}</li>
	<a href="/carts/{{user.cart._id}}">Ir al carrito</a>
	<a href="/api/users/logout" type="submit">Cerrar sesión</a>
</ul>
{{else}}
<h2>Bienvenido invitado, estos son nuestros productos</h2>
<a href="/login">Inicia sesión</a>
{{/if}}

{{#each data.docs}}
<div class="col-md-3">
	<div class="card">
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><b>Nombre:</b> {{title}}</li>
			<li class="list-group-item"><b>Categoría:</b> {{category}}</li>
			<li class="list-group-item"><b>Precio:</b> {{price}}</li>
		</ul>
		<button class="add" id="{{_id}}">Agregar al carrito</button>
	</div>
</div>
{{/each}}

<div class="col-12 text-center">
	<nav>
		<ul class="pagination">
			{{#if data.hasPrevPage}} <li class="page-item"> {{else}}
			<li class="page-item disabled">{{/if}}
				<a class="page-link" href="?limit={{data.limit}}&page={{data.prevPage}}">Anterior</a>
			</li>
			<li class="page-item active" aria-current="page">
				<a class="page-link" href="?limit={{data.limit}}&page={{data.page}}">{{ data.page }}</a>
			</li>
			{{#if data.hasNextPage}} <li class="page-item"> {{else}}
			<li class="page-item disabled">{{/if}}
				<a class="page-link" href="?limit={{data.limit}}&page={{data.nextPage}}">Siguiente</a>
			</li>
		</ul>
	</nav>
</div>

<script src="js/index.js"></script>